[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.6.*"
streamlit = "*"
transformers = "*"
pillow = "*"
pudb = "*"
tqdm = "*"
ipython = "*"
pymilvus = "*"
jsonlines = "*"
jupyter = "*"
rawpy = "*"
scikit-learn = "*"
mlflow = "*"
optuna = "*"

[dev-packages]

[requires]
python_version = "3.10"
