[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
gradio = "*"
transformers = "*"
numpy = "*"
torch = "*"
pymilvus = "*"
matplotlib = "*"
jupyter = "*"
pillow = "*"
pudb = "*"

[dev-packages]

[requires]
python_version = "3.10"
